language: php
os: linux

script:
- true
after_success:
- ./travis/deploy.sh
before_install:
- openssl aes-256-cbc -K $encrypted_1645300b04d0_key -iv $encrypted_1645300b04d0_iv -in travis/develop.pem.enc -out ~\/.ssh/develop.pem -d

env:
  global:
    secure: "mLLMsNtd1pOM3YhYfm8nsqS4hsKXDdMzDjQUHmSWErA2SHwEoRVuBCb7bijtvPSoWGy2YQqzRmjZnWuOYN8YQ4b1ABBD/9jICGW0mO4xyuX9YLMrUN8wq6DJQi5SdYw9oFAFxEI3GrDgPNOAtoWaXHc6/yAZ9WaF58qlDpMyq4ZxpkF/M7QLqay7vlrLKAUufTJmQkyFQFk6tRQw3diBvwAOZ1SDZmYKvC5zrx+VsU0H2IzPs3/GhkFlusuhNy3UaoO2KZjorU/Jg80H1beJVQBSLtcmKxGou6WbaB5F5L6EbXjz3Vb7FuDJMCkVSdeGew4XWGKV4Um1ziXdAb+3QpjGKYLj6BvbQHQ3f5MPEBt3zUFg7I1QyzQg6iL4yvdrJzQaNviovH838oCFjTw5WUq0PiIahj0fSO02vfkIjiXxjLmv2c++XQgt/kV3fSJjwJ19wdHvuoPtXWd0KYZhZzR0AKJhgBA1hYFKybX0EUoXllQ0OpYM6UVrghZt9Q/O5gR0hwpRlpt6i6RB6gBvYL8v8x5VNPLyoRY0vXVXg3h1+dNUTypNq0Ze4IduUrFyliMhVEay3YaaSSmw90V5xzd3rASC51CfZZopauy+ohtYjMlZuNQs80DBIk0vBx0CUpe6hCzxCH2UJFkFUv6v9a9WPB6wTiOrZ1ng99TQYMI="
