- apt:
    name: "{{ packages }}"
  vars:
    packages:
    - mariadb-server
    - python-mysqldb

- mysql_user:
    login_unix_socket: "/var/run/mysqld/mysqld.sock"
    login_user: "root"
    login_password: ""
    name: "{{ mysql_username }}"
    password: "{{ mysql_password }}"
    priv: '*.*:ALL'

- stat:
    path: /etc/mysql/keyfile
  register: keyfile

- shell: echo -n "1;" >> /etc/mysql/keyfile
  when: not keyfile.stat.exists

- shell: openssl rand -hex 32 >> /etc/mysql/keyfile
  when: not keyfile.stat.exists

- ini_file:
    path: /etc/mysql/mariadb.conf.d/50-server.cnf
    section: mariadb
    option: plugin_load_add
    value: file_key_management
    backup: yes

- ini_file:
    path: /etc/mysql/mariadb.conf.d/50-server.cnf
    section: mariadb
    option: loose_file_key_management_filename
    value: /etc/mysql/keyfile
    backup: yes

- ini_file:
    path: /etc/mysql/mariadb.conf.d/50-server.cnf
    section: mariadb
    option: innodb-encrypt-tables
    value: "ON"
    backup: yes

- ini_file:
    path: /etc/mysql/mariadb.conf.d/50-server.cnf
    section: mariadb
    option: innodb-encrypt-log
    value: "1"
    backup: yes

- service:
    name: mysqld
    state: restarted
