---
- hosts: all
  become: yes
  vars:
    machine_name: "{{ lookup('env', 'LOGNAME') }}.vagrant"
    machine_name_s: "{{ lookup('env', 'LOGNAME') }}"
    api_environment: development
    mysql_hostname: localhost
    mysql_database: smartcare
    mysql_username: vagrant
    mysql_password: password
    datadog_apikey: b5bf83818c93e58db07c347d5a50ce09
  roles:
    - common
    - php
    - nginx
    - mysql
    - mysql_config
    - phpmyadmin
    - docker
    - datadog
